*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}
body{
    min-width: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f1f1f1;
}
.about-section{
    background: url(./image/about.jpg) no-repeat left;
    background-size: 55%;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 100px 0;
}
.inner-container{
    width: 65%;
    float: right;
    background-color: #fdfdfd;
    padding: 40px;
    box-shadow: 10px 5px 10px gray;
}
.inner-container h1{
    color: rgb(7, 204, 190);
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}
.text{
    font-size: 13px;
    color: rgb(7, 204, 190);
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}
.skills{
    color: rgb(7, 204, 190);
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 13px;
}