body{
	// background-image: url(../../image/mm11.jpg);
	background-size: cover;
	background-attachment: fixed;
}
.container{
	width: 1200px;
	margin: 0 auto;
}
.container-full{
	width:100%;
	height: auto;
}