// Fonts
$first-font: 'Montserrat', sans-serif;
$secondary-font: 'Krona One', sans-serif;
// Colors
$color-bg-head: rgb(7, 204, 190);
$color-black: black;
$color-white: white;
$color-gray: gray;
$color-blue:blue;
$color-green:green;
$color-brown:brown;
$color-red:red;
$color-l-gray: lightgray;
$color-l-blue: lightblue;
$color-ftr:#211a30;
$color-ftr-text:#fcba03;
$color-bg-button:rgb(255, 138, 0);
// Spacing
$padding-x:10px;
$padding-2x:20px;
$padding-3x:30px;
$margin-x:10px;
$margin-2x:20px;
$margin-3x:30px;
// Size
$small:10px;
$medium:20px;
$large:30px;
// Border
$border-white:$small/10 solid $color-white;